
.container {
  width: 500px;
}

button:hover {
  opacity: 0.3;
}

button {
  color: white;
  border: 1px solid white
}

h1 {
  text-align: center;
}

.display-container {
  display: flex;
  flex-direction: column;
  height: 150px;
}